html {
  background-color: cornflowerblue;
}

body {
  background-color: yellow;
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: darkmagenta;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:hover {
  font-weight: bold;
}
